body {
	background: black;
	color: yellow;
	text-align: center;
}
h1 {
	font-family: sans-serif;
	font-size: 36px;
}
a {
	color: green;
}
table {
	white-space: nowrap;
	overflow: hidden;
	margin: 0 auto;
	width: 25px;
	border-collapse: separate;
}
td {
	padding-bottom: 10px;
}
button {
	display: inline-block;
	height: 20px;
}
.error {
	color: red;
}
.login-link {
	color: yellow;
}
.selectDisable {
	-webkit-user-select: none;
	-khtml-user-select: none; 
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.point {
	position: absolute;
	width: 30px;
	height: 30px;
}
.circle {
	background: red;
	border-radius: 50%;
	width: 100%;
	padding-bottom: 100%;
}
.cheese {
	position: absolute;
	width: 60px;
}
#game_field {
	position: fixed;
	border: solid white;
	top: 200px;
	left: 10px;
	width: 1300px;
	height: 500px;
}
#starting_box {
	position: absolute;
	border: solid blue 5px;
	width: 76px;
	height: 55px;
	left: 644px;
	bottom: 0px;
}
#net {
	position: absolute;
	width: 70px;
	left: 650px;
}