.remove_reset {
	position: absolute;
}
#mouse {
      position: absolute;
      width: 60px;
      top: 200px;
      left: 655px;
      opacity: 0;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
}
#net {
	height: 47px;
}
#cheese {
	position: absolute;
	height: 50px;
        top: 212px;
        left: 725px;
}