.mouse {
	position: absolute;
	width: 91px;
	left: 650px;
}

#tree {
  position: absolute;
  height: 500px;
  left: 125px;
  bottom: 0px;
}

#house {
	position: absolute;
	height: 400px;
	right: 650px;
	bottom: 0px;
}
#red {
	top: 245px;
}
#green {
	top: 325px;
}
#blue {
	top: 405px;
}

#push {
  position: absolute;
  background-color: orange;
  width: 150px;
  height: 100px;
  top: 200px;
  left: 900px;
}

#push p {
  font: bold 24px arial, sans-serif;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}