.croc {
	position: absolute;
	width: 225px;
	height: 125px;
	left: 1050px;
	top: 50px;
	-webkit-transform: rotate(330deg);
	-moz-transform: rotate(330deg);
	-o-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
}
#croc1 {
	opacity: 1;
}
#croc2 {
	opacity: 0;
}
#croc3 {
	opacity: 0;
}
#paddle {
	position: absolute;
	background: yellow;
	width: 65px;
	height: 15px;
	left: 650px;
}
#starting_box {
	height: 20px;
}