.wall {
	position: absolute;
	background-color: orange;
}
#roof {
	height: 0px;
	width: 0px;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 150px solid white;
}
#house {
	position: absolute;
	height: 375px;
	width: 300px;
	left: 550px;
	bottom: 0px;
}
#window {
	position: absolute;
	height: 70px;
	width: 70px;
	bottom: 85px;
	left: 115px;
}
#leftwall {
	height: 225px;
	width:115px;
	left: 0px;
	bottom: 0px;
}
#rightwall {
	height: 225px;
	width: 115px;
	right: 0px;
	bottom: 0px;
}
#topwall {
	height: 70px;
	width: 300px;
	left: 0px;
	bottom: 155px;
}
#bottomwall {
	height: 85px;
	width: 300px;
	left: 0px;
	bottom: 0px;
}