<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="../stylesheets/_base.css">
		<link rel="stylesheet" href="../stylesheets/game{{game}}.css">
    <script src="../scripts/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="../scripts/game{{game}}.js"></script>
		<title>Action Lab Game {{game}}</title>
	</head>

	<body>
		<h1>Action Lab</h1>
		{% block directions %}
		{% endblock %}
		{% block gamefield %}
		{% endblock %}
		<script type='text/javascript'>
			declareVariables();
			setup();
      window.onbeforeunload = function() {
          return true;
      };
      window.addEventListener('unload', downloadData);
		</script>
		<p style="position: fixed; top: 700px;">
			<button onclick="reset()">Reset</button>&emsp;
			<a href='/home'>Return to Home</a>
		</p>
	</body>
</html>