{% extends "templates/_base.html" %}
{% block bodycontent %}
	<h3>About</h3>
	<p style="width: 50%; margin: 0 auto">This page was created for a study created in collaboration between
	the <a href="http://www.northeastern.edu/actionlab/">Northeastern
	University Action Lab</a> and MIT's Sinha Lab in order to study phenotypes associated
	with Autism Spectrum Disorder, especially in relation to associated abilities of prediction.</p>
	<p>This website was created by Lynnsey Martin, as guided by Se-Woong Park.</p>
{% endblock %}