{% extends "templates/_base.html" %}
{% block bodycontent %}
  <script type="text/javascript" src="../scripts/data.js"></script>
	<h3>Data</h3>
	<div id="data">
    <form method="get">
      User: <input type="text" name="user"> &nbsp &nbsp
      Game: <input type="text" name="game"> &nbsp &nbsp
      <input type="submit">
    </form>
    <br>
    <table>
      <tr>
        <th>User</th>
        <th>Game</th>
        <th>Time</th>
        <th>File</th>
      </tr>
      {% for gd in game_data %}
      <tr>
        <td>{{gd.user}}</td>
        <td>{{gd.game}}</td>
        <td>{{gd.time}}</td>
        <td>
          <a class="data" href="{{gd.data}}" download="{{gd.user}}_game{{gd.game}}_{{gd.time}}.csv">{{gd.user}}_game{{gd.game}}_{{gd.time}}.csv</a> 
        </td>
      </tr>
      {% endfor %}
    </table>
    <br>
    <button onclick="downloadAll()">Download All</button>
  </div>
{% endblock %}