{% extends "templates/_base.html" %}
{% block bodycontent %}
    <h3>{{title}}</h3>
    <form method="post">
      <table>
        <tr>
          <td class="label">First Name: </td>
          <td><input type="text" name="first_name" value="{{first_name}}"></td>
          <td class="error">{{first_name_error}}</td>
        </tr>

        <tr>
          <td class="label">Last Name: </td>
          <td><input type="text" name="last_name" value="{{last_name}}"></td>
          <td class="error">{{last_name_error}}</td>
        </tr>

        <tr>
          <td class="label">Date of Birth: </td>
          <td><input type="text" name="dob" value="{{dob}}"></td>
          <td class="error">{{dob_error}}</td>
        </tr>

        <tr>
          <td class="label">Sex: </td>
          <td><input type="text" name="sex" value="{{sex}}"></td>
          <td class="error">{{sex_error}}</td>
        </tr>
      </table>

      <input type="submit">
    </form>
	{{message}}
{% endblock %}