{% extends "templates/_game.html" %}

{% block directions %}
	<p>Click to throw the ball. Click on the mouse that has caught the cheese. Click again to reset.</p>
	<p>You have 15 chances to guess. Each correct guess gives you a point, which will be tallied in the bottom left hand corner of the screen.</p>
{% endblock %}

{% block gamefield %}
	<div id="game_field"><div id="play">
		<img src="../images/slide1.jpg" class="selectDisable cheese" id="ball"></img>
    <img src="../images/tree.svg" class="selectDisable" id="tree"></img>
		<img src="../images/house.png" class="selectDisable" id="house"></img>
		<img src="../images/red.gif" class="mouse selectDisable" id="red" onclick="checkButton(event)"></img>
		<img src="../images/green.gif" class="mouse selectDisable" id="green" onclick="checkButton(event)"></img>
		<img src="../images/blue.gif" class="mouse selectDisable" id="blue"onclick="checkButton(event)"></img>
    <div id="push" onclick="checkAction(event)"><p>throw ball</p></div>
	</div></div>
{% endblock %}