{% extends "templates/_game.html" %}

{% block directions %}
	<p>When ready, move basket into starting box. Keep basket within starting box until mouse appears.</p>
	<p>Once the mouse appears, move as quickly as possible to catch it in your net.</p>
{% endblock %}

{% block gamefield %}
	<div id="game_field" onmousemove="checkMotion(event)"><div id="play">
		<div id="starting_box" class="selectDisable"></div>
		<img src="../images/net.png" id="net"></img>
		<img src="../images/mouse.png" id="mouse"></img>
		<img src="../images/Slide1.jpg" class="selectDisable" id="cheese"></img>
	</div></div>
{% endblock %}