{% extends "templates/_game.html" %}

{% block directions %}
	<p>Click when ready for the round. Once the ball is thrown, </p>
	<p>Once the mouse appears, move as quickly as possible to catch it in your net.</p>
{% endblock %}

{% block gamefield %}
	<div id="game_field" onmousedown="checkClick(event)"><div id="play">
		<div class="point" class="selectDisable" id="ball"><div class="circle"></div></div>
		<div id="house">
			<div id="roof">
			<div class="wall" id="leftwall"></div>
			<div class="wall" id="rightwall"></div>
			<div class="wall" id="topwall"></div>
			<div class="wall" id="bottomwall"></div>
		</div>
		<div id="window"></div>
	</div></div>
{% endblock %}