{% extends "templates/_base.html" %}
{% block bodycontent %}
	<h3>Home</h3>
	<p>
		This is a website for the the games created by the Action Lab for the motion prediction research study.<br><br>
		<a href='/game1'>Simple Catching Game</a><br>
		<a href='/game2'>Simple Catching Game w/ Obstacle</a><br>
		<a href='/game3'>Bouncing Ball Game</a><br>
		<a href='/game4'>Cheese Prediction Game</a><br>
		<a href='/game5'>Mouse Catching Game</a><br>
		<a href='/game6'>Ball in Window Game</a><br>
	</p>
	<p>If the games seem slow, try clearing your browser history.</p>
{% endblock %}
